<div class="footer">
  <div class="footer-links">
    <a href="https://www.linkedin.com/in/marco-varela-9b8a5a9a/"><i class="fab fa-github"></i></a>
    <a href="https://github.com/mvare007"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made by M. Varela
  </div>
</div>
