body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background-color: #31132F !important; // For Bootstrap Navbar
}

.messaging-wrapper {
  display: flex;
  height: 100vh;
}

/* Column 1/3 *****************************************************************/

.logo-container {
  padding: 10px;
  width: 60px;
  height: 100%;
  background: #31132F;
  box-sizing: border-box;
  text-align: center;
}

.messaging-logo {
  display: inline-block;
  width: 41px;
  height: 40px;
  background-blend-mode: inherit;
  margin: 10px -10px;
}

.messaging-logo-2 {
  display: inline-block;
  width: 100px;
  height: 61px;
  background-blend-mode: inherit;
  margin: 10px -10px;
}

/* Column 2/3 *****************************************************************/

.channels-container {
  padding: 20px;
  width: 220px;
  height: 100%;
  background: #3A1A3F;
  box-sizing: border-box;
}

.channels-container > span {
  font-weight: 900;
}

.channels-container > ul {
  list-style: none;
  -webkit-margin-before: 2em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.channels-container > ul > li {
  margin: 10px 0;
  font-size: 14px;
  color: #7c7c7c;
  cursor: pointer;
}

.channels-container > ul > li.active {
  font-weight: 600;
  color: black;
}

.channels-container span {
  color: white;
  opacity: 0.9;
}

/* Column 3/3 *****************************************************************/

.channel-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 290px);
}

a {
  color: silver;
  opacity: 0.9;
  &:hover {
    text-decoration: none;
  }
}

.channel-title {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 28px;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #f4f4f4;
}

.active {
  background-color: #1064A3 !important;
}

.channel:hover {
  background-color: #1064A3;
  opacity: 0.8;
}


.channel-title > span {
  font-weight: 700;
}

.channel-content {
  padding: 20px 20px 0 28px;
  box-sizing: border-box;
  height: 80%;
  overflow: scroll;
}

.message-container > i {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}
.message-container > i > small {
  position: relative;
  margin-left: 10px;
  font-style: italic;
  font-size: 10px;
  opacity: 0.6;
}

.message-container > i > small::before {
  content: "-";
  position: absolute;
  top: -1px;
  left: -7px;
}

.message-container > p {
  margin: 5px 0 10px;
}

.channel-editor {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  height: 90px;
  border-top: 1px solid #f4f4f4;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border-color: #d4d4d4;
}

button {
  padding: 10px 17px;
  margin-left: -2px;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  border: none;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.break-text p {
  word-wrap: break-word;
}

/* Emoji Mart *****************************************************************/

.getEmojiButton {
  float: left;
  border: none;
  margin: 7px;
  cursor: pointer;
  font-size: 20px;
}

.header img {
  display:block;
  margin:30px auto;
}

